<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spoc.mapper.ChapterMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course_chapter (course_id, title, video_url, sort)
        VALUES (#{courseId}, #{title}, #{videoUrl}, #{sort})
    </insert>

    <delete id="deleteById">
        DELETE FROM course_chapter WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE course_chapter
        SET
            title = #{title},
            video_url = #{videoUrl},
            sort = #{sort}
        WHERE id = #{id}
    </update>

    <select id="selectByCourseId" resultType="com.spoc.entity.Chapter">
        SELECT * FROM course_chapter
        WHERE course_id = #{courseId}
        ORDER BY sort ASC, id ASC
    </select>

    <select id="selectById" resultType="com.spoc.entity.Chapter">
        SELECT * FROM course_chapter WHERE id = #{id}
    </select>

</mapper>